.header {
    flex: 1;
    flex-direction: row;
    background-color: #1F333F;
    color: white;
}
html{
    background-color: #1F333F
}
.txtHeader {
    text-align: left;
}
.custom-tooltip{
    background-color: #1F333F;
    max-width:150px;
    color:white;
    border-radius:10px
}.custom-tooltip-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #2F576D;
    max-width:150px;
    font-weight:700;
    padding:5px;
    padding-left:10px;
}.custom-tooltip-body{
    padding:5px;
    padding-left:10px;
}
.txtHeader:nthchild(2) {
    text-align: right;
}
.boxTable {
    overflow: auto;
}

.boxTable::-webkit-scrollbar {
    width: 12px;
    /* width of the entire scrollbar */
}

.boxTable::-webkit-scrollbar-track {
    background: #2F576D;
    /* color of the tracking area */
}

.boxTable::-webkit-scrollbar-thumb {
    background-color: #244354;
}

Body::-webkit-scrollbar {
    width: 12px;
    /* width of the entire scrollbar */
}

Body::-webkit-scrollbar-track {
    background: white;
    /* color of the tracking area */
}

Body::-webkit-scrollbar-thumb {
    background-color: #244354;
}.container-area-chart{
    -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px;
  width: 100%;
  height: 400px;
  background-color: #fff;
}

@media only screen and (max-width: 600px) and (orientation: portrait) {
    td{
        width:10vw;
        max-width:200px;
        white-space: nowrap; 
        text-overflow:ellipsis; 
        overflow: hidden;
    }
  }
  @media only screen and (max-height: 600px) and (orientation: landscape) {
    td{
        width:10vw;
        max-width:200px;
        white-space: nowrap; 
        text-overflow:ellipsis; 
        overflow: hidden;
    }
  }